.title-schedule{
    color: #f36100;
}

.title-schedule span{
    color: #000000;
}

.schedule-btn{
    border: #f36100 1px solid !important;
    transition: 0.2s !important;
    font-weight: 600 !important;
    padding: 10px 20px !important;
}

.schedule-btn:hover{
    background-color: #f36100 !important;
}

.schedule-btn:active    {
    background-color: #f36100 !important;
}

.para-title{
    color: #a0a0a0;
    font-size: 16px;
    font-weight: 600;
}

.para-text{
    color: #000000;
    font-size: 20px;
    font-weight: 700;
}

.schedule-btn.active{
    background-color: #f36100 !important;
}